/* Estilo específico da página de detalhes do animal */

.detalhes-animal {
    max-width: 800px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.detalhes-animal:hover {
    transform: translateY(-5px);
}

.detalhes-animal h2 {
    font-size: 2rem;
    color: #242525d8;
    margin-bottom: 20px;
}

.detalhes-animal img.detalhe-img {
    width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.detalhes-animal p {
    font-size: 1.1rem;
    margin: 12px 0;
    color: #444;
}

.detalhes-animal p strong {
    color: #33aec4;
}

.detalhes-animal .btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff493c;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.detalhes-animal .btn:hover {
    background-color: #33aec4;
    transform: scale(1.05);
}

