/* Cabeçalho */
header {
    background-color: #33aec4; /* cor sólida */
    color: white;
    padding: 10px 20px;
    display: flex;              /* coloca o logo e os links na mesma linha */
    align-items: center;        /* centraliza verticalmente */
    justify-content: space-between; /* título à esquerda, menu à direita */
}

/* Logo / título */
header h1 {
    font-size: 1.5rem;
    margin: 0;
}

/* Menu */
nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ff493c; /* muda pra vermelho ao passar o mouse */
}


/* Seções */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    color: #33aec4;
    margin-bottom: 15px;
    border-left: 5px solid #ff493c;
    padding-left: 10px;
}

.intro p,
.frequency p,
.contact p {
    font-size: 1.1rem;
}

/* Listas */
ul, ol {
    margin: 15px 0;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

/* Botão */
.btn {
    display: inline-block;
    background-color: #ff493c;
    color: #fff;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #33aec4;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #33aec4;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
}
